<div class="col-lg-6 px-lg-4 py-4">
    <a class="text-reset" href="/publications/{{ .localFileName }}.pdf">{{ .title | safeHTML}}</a>
    <ul class="list-inline text-muted small my-3">
        {{ range .authors }}
            {{ if in . "EF Cagua"}}
            <li class="list-inline-item"><strong>{{ . }}</strong></li>
            {{ else }}
                <li class="list-inline-item">{{ . }}</li>
            {{ end }}
        {{ end }}
    </ul>
    <p class="small text-break text-muted">
        {{ $doiString := replace .doi "https://doi.org/" "" }}
        {{ .date }}. <em>{{  .journal }}</em>. {{ .issue }}, {{ .pages }}. doi: <a class="text-reset" href="{{ .doi }}">{{ $doiString }}</a>
    </p>
        
</div>
